body {
    height: 200vh;
}

.fixed_bg {
    background: url(../img/insta01.jpg) no-repeat fixed center center/cover;
    padding: 200px 0;
    text-align: center;
    color: #fff;
}

.fixed_bg h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 5px 0;
}
.fixed_bg p {
    font-size: 15px;
    font-weight: 300;
}


.movie01 {
    padding: 100px 0;
}

.movie01 .container {
    display: flex;
}