.section {
    position: relative;
    padding: 100px 0;
}



.section .main figure {
    padding: 0 0 0 80px;
    
}

.section .slick-dots {
    margin: 30px 0;
    text-align: center;
}


.section .slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ddd;
    margin: 0 15px;
    border-radius: 50%;
}


.section .slick-dots li.slick-active {
    background: #169;
}

.section .slick-dots button {
    display: none;
    
}


.section .slide_arrows i {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , - 50%);
    font-size: 40px;
    color: #fff;
    background: rgba(0, 0 , 0, 0.5);
    padding: 10px 20px;

}

.section .slide_arrows i:nth-child(1) {
    margin: 0 0 0 -650px;
}
.section .slide_arrows i:nth-child(2) {
    margin: 0 0 0 650px;
}

.section  .box {
    position: absolute;
    top: 200px;
    left: 65%;
    transform: translateX(-600px);
    width: 200px;
    height: 400px;
    background: #fff;
    border: 1px solid#333;
}

.section  .box  .num {
    position: absolute;
    font-size: 30px;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}


.section  .content>li {
    display: none;
}
.section  .content>li.on {
    display: block;
}
