
/*header- css */
.header { background: #000000; width: 100%; height: 70px; } 

.header_container { display: flex; } 
.header_container h1 { width: 180px; margin: auto 50px; z-index: 999; } 

.gnb { position: relative; top: 0; left: 26.5%; line-height: 40px; margin: 15px 0 0 0; } 
.gnb ul { display: flex; gap: 30px; } 
.gnb ul>li { font-size: 17px; color: #fff; font-weight: 300; } 
.gnb>ul>li>ul { display: none; } 
.gnb>ul>li:hover ul { display: block; } 

.under_menu { position: absolute; top: 50px; left: -800px; width: 2850px; height: 50vh; background: #000000; z-index: 998; } 
.under_Su { padding: 30px 30px 30px 80px; border-bottom:1px solid #ddd; } 


.under_menu .under_Su img { width: 120px; } 
.s_left_up_text>a { font-size: 18px; } 
.s_left_up_text dl { display: flex; margin: 10px auto; font-size: 13px; gap: 30px; } 
.s_left_up_text dl>dd { padding: auto 50px; } 
.s_left_up_text dd::before { content: ""; display: inline-block; height: 10px; width: 1px; background: #ddd; margin: auto 10px 0 0; } 
.under_Sr { position: absolute; right: 46.2%; top: 0%; padding: 28px 0 30px 0; border-left: 1px solid #ddd; } 
.under_Sr img { width: 120px; margin: auto 50px; } 

.s_right_up_text { margin: auto 20px; } 
.s_right_up_text dl { display: flex; margin: 10px 0; font-size: 13px; gap: 30px; } 
.s_right_up_text dd::before { content: ""; display: inline-block; height: 10px; width: 1px; background: #ddd; margin: auto 10px 0 0; } 


.under_Slb { padding: 30px 30px 25px 80px; } 
.under_Slb img { width: 120px; } 

.s_right_bottom_text dl { display: flex; margin: 10px 0; font-size: 13px; gap: 30px; } 
.s_right_bottom_text dd::before { content: ""; display: inline-block; height: 10px; width: 1px; background: #ddd; margin: auto 10px 0 0; } 

.under_Srb { position: absolute; right: 46%; top: 46%; left: 34.20%; padding: 30px 0 40px 0; border-left: 1px solid#ddd; } 
.under_Srb img { width: 120px; margin: 0 50px 5px 50px; } 

.s_left_bottom_text { margin: auto 50px; } 
.s_left_bottom_text dl { display: flex; margin: 10px 0; font-size: 13px; gap: 15px; } 
.s_left_bottom_text dd::before { content: ""; display: inline-block; height: 10px; width: 1px; background: #ddd; margin: auto 10px 0 0; } 

.service_menu { position: absolute; top: 50px; left: -800px; width: 2850px; height: 25vh; background: #000000; z-index: 998; } 
.servic_left { padding: 30px 30px 50px 80px; margin: 30px auto; } 
.servic_left img { width: 120px; } 
.service_left_text { margin: 30px auto; } 
.service_left_text dl { display: flex; margin: 10px 0; font-size: 13px; gap: 30px; } 

.service_left_text dd::before { content: ""; display: inline-block; height: 10px; width: 1px; background: #ddd; margin: auto 10px 0 0; } 
.service_right { position: absolute; right: 50%; top: 0%; padding: 40px 0; } 
.service_right img { width: 120px; } 
.service_right_text { margin: 30px auto; } 
.service_right_text dl { display: flex; margin: 10px 0; font-size: 13px; gap: 30px; } 
.service_right_text dd::before { content: ""; display: inline-block; height: 10px; width: 1px; background: #ddd; margin: auto 10px 0 0; } 

.menu_input { position: absolute; right: 4.3%; top: 2.5%; } 
.menu_input>input { border-radius: 25px; background: #fff; border: 1px solid#000000; color: transparent; text-shadow: 0 0 0 #2196f3; } 
.menu_input i { position: absolute; right: 5%; top: 2%; font-size: 24px; } 
.menu_input:hover i { display: none; } 

.mopen { display: none; } 
.m_smenu { display: none; } 

/*header-respansive*/

@media(max-width:767px){
 .header { background-color:#070707; width: 100%; height: 70px; } 

.header_container { display: flex; } 
.header_container h1 { position: relative; width: 110px; left: -50px; top: 10px; z-index: 998; } 

.gnb { display: none; position: fixed; top: 6.1%; left: 0; line-height: 40px; margin: 15px 0 0 0; background: #2b2a2a; z-index: 999; height: 50vh; width: 100%; text-align: center; } 
.gnb.on { display: block; } 
.gnb ul { display: flex; flex-direction: column; padding: 50px; } 
.gnb ul>li { font-size: 17px; color: #fff; font-weight: 300; border-bottom: 1px solid #fff; } 
.gnb>ul>li>ul { display: none; } 
.gnb>ul>li:hover ul { display: none; } 

 
.menu_input { display: none; position: absolute; right: 4.3%; top: 2.5%; } 

.mopen { display: block; position: fixed; right: 3px; top: 8px; font-size: 10px; padding: 1px; line-height: 1px; z-index: 999; border-radius: 15px; } 
.hamburger-inner { background-color: #fff; } 
.hamburger-inner::before { background-color: #fff; } 
.hamburger-inner::after { background-color: #fff; } 
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before { background-color: #fff; } 

.m_smenu.on { position: fixed; top: 7%; left: 0; line-height: 40px; background: #2b2a2a; z-index: 999; display: block; height: 100vh; width: 100%; text-align: left; } 
.m_smenu { color: #fff; font-weight: 300; } 
.m_smenu h2 { font-size: 20px; font-weight: 400; } 
.m_smenu ul { margin: auto 10px; } 
.m_smenu .under_Mtext { margin: 10px 0; font-size: 15px; color: #2196f3; line-height: 15px; } 
.m_smenu .under_Mtext a { display: block; margin: 5px 0; } 
 }

/*main section01*/
.main_vs { position: relative; } 

.Vs_container figure { position: relative; height: 600px; background-repeat: no-repeat !important; background-size: cover !important; } 
.Vs_container .itm01 { background: url(../img/main04.jpg); } 
.Vs_container .itm02 { background: url(../img/main02.jpg); } 
.Vs_container .itm03 { background: url(../img/main03.jpg); } 
.itm_text { position: absolute; bottom: 10%; left: 3%; color: #fff; } 
.itm_text h2 { margin: 30px 10px; font-size: 35px; font-weight: 500; } 
.itm_text span { font-size: 15px; margin: 10px 0 0 10px; padding: 8px 7px; border: 1px solid #fff; font-weight: 300; } 
.itm_text span:hover { background: #fff; color: #000000; } 

.main_vs:hover i { display: block; } 

.slider_icon i { display: none; position: absolute; top: 50%; left: 50%; font-size: 60px; transform: translate(90% ,-50%); color: #fff; } 
.slider_icon i:nth-child(1) { left: 500px } 
.slider_icon i:nth-child(2) { right: 500px } 

.slick-dots { position: absolute; bottom: 3%; left: 49%; } 
.slick-dots li { display: inline-block; } 
.slick-dots button { border-radius: 50%; outline: none; border: none; width: 15px; height: 15px; margin: 0 2px; font-size: 0; } 
.slick-dots li.slick-active button { background: #413f3f; color: #fff; } 

.M_main_vs { display: none; } 
.M_main_Text { display: none; } 

/*main section01 - respansive*/


@media(max-width:1200px) { 
    /*반응형시 우측 여백 없애는 방법 :  body with 100%, overflow-x:hidden 을 준다.*/
    body,
    html {
    width:100%;
    overflow-x:hidden;
    }
.main_vs { display: none; } 
 .M_main_vs { position: relative; display: block;  } 
 .M_main_vs img {width: 100% ;}
 .M_main_Text { display: block; position: absolute; top: 20%; left: 14%; color: #000000; } 
 .M_main_Text h2 { position: relative; top: -30px; font-size: 30px; font-weight: 800; } 
 .M_main_Text span { border: 1px solid#000000; padding: 10px 5px; color: #fff; background: #000000; opacity: 0.78; } 
 .M_main_Text span:hover { background: #fff; color: #000000; } 
 }



@media(max-width:767px){
   
 .main_vs { display: none; } 
 .M_main_vs { position: relative; display: block; } 
 .M_main_Text { display: block; position: absolute; top: 20%; left: 14%; color: #000000; } 
 .M_main_Text h2 { position: relative; top: -30px; font-size: 30px; font-weight: 800; } 
 .M_main_Text span { border: 1px solid#000000; padding: 10px 5px; color: #fff; background: #000000; opacity: 0.78; } 
 .M_main_Text span:hover { background: #fff; color: #000000; } 
 }

/*main section02 */
.under_mu { background-color: #000000; opacity: 0.95; } 
.mu_content ul { display: flex; font-size: 15px; gap: 30px; justify-content: center; line-height: 50px; color: #ddd; } 
.mu_content ul>li i { margin: auto 10px; } 


/*main section03*/

.basic_text {
   width: 1200px;
   padding: 100px 0;
   margin: 0 auto; 
   text-align: center;  
}

.basic_content h2 {
   margin: 10px 0;
   font-size: 35px;
   font-weight: 600;
   font-family: parisienne;
}
.basic_content p {
   margin: 20px auto;
   line-height: 15px;
   font-weight: 400;
   font-family: parisienne;
   
}
.basic_pics {
   display: flex;
   gap: 30px;
}

.basic_pics span {
   display: block;
   margin: 10px 0;
}

.basic_hover {
   position: relative;
}
.normal_img {
   position: relative;
}
.hover_img {
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0;
   transition: opacity 0.5s linear;
} 

.basic_pics .basic_hover:hover .hover_img{
   opacity: 1;
}

/*main section03 respansive*/
@media(max-width:767px) {
   .basic_text {
      width: 100%;
      padding: 50px 0;
      margin: 0 auto; 
      text-align: center;  
   }
   
   .basic_content h2 {
      margin: 10px 0;
      font-size: 35px;
      font-weight: 600;
      font-family: parisienne;
   }
   .basic_content p {
      margin: 20px auto;
      line-height: 15px;
      font-weight: 400;
      font-size: 15px;   
   }
}

/*main section04 */

.main_news { padding: 0 0 50px 0; width: 1200px; margin: 0 auto; } 

.news_container h2 { margin: 20px 0; font-size: 25px; font-weight: 500 ; } 

.news_boxes { display: flex; gap: 30px; } 

.news_boxes p { font-size: 12px; margin: 10px 0; font-weight: 300; } 

.news_boxes dl>dt { margin: 10px 0; font-size: 18px; } 
.news_boxes dl>dd { font-size: 15px; } 

.news_boxes dt:hover { color: #2196f3; } 
.news_boxes dd:hover { color: #2196f3; } 
.mobile_boxes { display: none; } 
.Mslider_icon { display: none; } 

/*main section04 -respansive */

@media(max-width:767px){
 .main_news { display: none; } 
 .mobile_boxes { display: block; position: relative; text-align: center; width: 100%; } 
 .mboxes_slider p { background: #000000; opacity: 0.95; color: #ddd; padding: 15px 0; font-size: 18px; font-weight: 300; } 
 .mboxes_slider p :hover { color: #2196f3; } 
 
 .Mslider_icon { position: absolute; display: block; bottom: 10%; left: 40%; color: #000000; font-size: 25px; }
 .Mslider_icon i { background: #fff; border-radius: 50%; padding: 5px; } 
 }



/*main section 05 */ 

.part {
   padding: 100px 0 50px 0; 
}
.part h2 {
   margin: 20px 0;
   font-size: 40px;
   font-weight: 600;
   text-align: center;
   font-family: parisienne;
}

 .information_part {
   padding: 0 0 50px 0;
   display: flex;
   width: 1200px;
   margin: 0 auto;
  
 }
 .information_part .right_container{
   background: #000000;
   color: rgb(230, 222, 222);
   padding: 50px;
 }
 .information_part .right_container h3{
   margin: 10px 0;
   font-size: 30px;
   text-align: center;
   font-weight: 500;
 }


 .information_part .right_container p {
   line-height: 18px;
   margin: 60px 0;
 }

 .information_part .right_container a:hover {
   color: #2196f3;
 }

 @media(max-width:767px) {
   .part {
      padding:   0px 0 0 0; 
   }
   .information_part {
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
     
    }
 }

 /* main section 06 */

 .middle_content {
     width: 1200px;
     margin: 0 auto;
     
 }

 .middle_content h2 {
    margin: 0  0 50px 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: parisienne;
 }
 .top_content {
    display: flex;
    gap: 100px;
 }


 .Orlando_lmg {
    position: relative;
 } 


 .Orlando_lmg .img_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
   
 } 

 .Orlando_lmg .img_orgin{
    position: relative;
 }


 .Orlando_lmg img {
    border-radius: 50%;
    width: 360px;
    height: 250px;
 }

 .Orlando_lmg:hover .img_hover{
    opacity: 1;  
 }

 .Orlando_text span {
    display: block;
    margin: 10px 0;
 }

 .Orlando_text h3 {
    font-size: 35px;
    margin: 10px 0;
    font-weight: 500;
 }

 .Orlando_text p {
    line-height: 20px;
    margin: 15px 0;
    font-size: 15px;
 }

 .Orlando_text .more {
    display: inline-block;
    padding: 6px;
    background: #252323;
    opacity: 0.8;
    color: #fff;
    font-weight: 300;
    border-radius: 15px;

 }

 .Orlando_text .more:hover {
    background:#000000;
    color: #2196f3;

}
 
/*main_secttion07*/

.wood_container {
    display: flex;
    width: 1200px;
    margin : 60px  auto 30px auto;
    gap: 100px;
}

.wood_container h3 {
    font-size: 35px;
    margin: 10px 0;
    font-weight: 500;
 }

 .wood_text p {
    line-height: 20px;
    margin: 15px 0;
    font-size: 15px;
 }

 .wood_text .more {
    display: inline-block;
    padding: 6px;
    background: #252323;
    opacity: 0.8;
    color: #fff;
    font-weight: 300;
    border-radius: 15px;

 }
 
 .wood_text .more:hover {
    background:#000000;
    color: #2196f3;

}

.wood_text span {
    display: block;
    margin: 10px 0;
    font-weight: 400;
}


.wood_img img {
    border-radius: 50%;
    width: 300px;
    height: 250px;
}

.wood_img {
    position: relative;
 } 


 .wood_img .img_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
   
 } 

 .wood_img .img_orgin{
    position: relative;
 }


 .wood_img img {
    border-radius: 50%;
    width: 300px;
    height: 250px;
 }

 .wood_img:hover .img_hover{
    opacity: 1;  
 }

 .Asia_content {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 100px auto 0 auto ;
 }

 .singapore_img img {
    border-radius: 15px;
 }

 .sinapopre_text {
    margin: 10px 0;
 }

 .sinapopre_text h3 {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 500;
 }

 .sinapopre_text p {
    line-height: 17px;
    font-size: 15px;
    font-weight: 400;
 }

 .sinapopre_text .more {
    display: inline-block;
    padding: 6px;
    background: #252323;
    opacity: 0.8;
    color: #fff;
    font-weight: 300;
    border-radius: 15px;
    margin: 10px 0;
 }

 .sinapopre_text .more:hover {
   background:#000000;
   color: #2196f3;
 }

 
 .japan_text {
    margin: 10px 0;
 }

 .japan_text h3 {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 500;
 }

 .japan_text p {
    line-height: 17px;
    font-size: 15px;
    font-weight: 400;
 }

 .japan_text .more {
    display: inline-block;
    padding: 6px;
    background: #252323;
    opacity: 0.8;
    color: #fff;
    font-weight: 300;
    border-radius: 15px;
    margin: 25px 0;
 }

 .japan_text .more:hover {
   background:#000000;
   color: #2196f3;
 }

 .japan_left {
    position: absolute;
    left: 60%;
 }

 .japan_img img {
    width: 501px;
    height: 282px;
    border-radius: 15px;
 }

 .mobile_theme {
   display: none;
 }

 /*section06 , 07 , 08 respansive*/
 @media(max-width:767px) {
    .middle_content {
        display: none;             
    }
    .wood_container {
        display: none;
    }
    .Asia_content {
      display: none;
    }
    .singapore_right {
      display: none;
    }
    .mobile_theme {
      position: relative;
      display: block;
      text-align: center;
    }

    .mobile_theme img {
      width: 100%;
      height: 400px;
    }

    .mobile_theme p{
      font-weight: 500;
    }

 .Tslider_icon { position: absolute; display: block; bottom: 10%; left: 40%; color: #000000; font-size: 25px; }
 .Tslider_icon i { background: #fff; border-radius: 50%; padding: 5px; } 
 }

 /*sevtion 09*/ 

 .main_ad {
   padding: 50px 0;
   text-align: center;
 }
 .trial_video {
   position: relative;
   margin: 30px 0 30px 0;
   background: url(../img/nope\ .jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover ;
   height: 50vh;
 }

 .main_ad h2 {
  padding: 50px 0 0 0;
  font-size: 35px;
  font-weight: 700;
  

 }

 .trial_container  {
  position: absolute;
  color: #fff;
  bottom: 10%;
  left: 5%;
  text-align: left;
 }

 .trial_container h3 {
   font-size: 100px;
   font-weight: 900;
   margin: 10px 0;
   text-indent: -5px;
 }

 .trial_container p {
   font-size: 18px;
   font-weight: 500;
   margin: 10px  0;
   padding: auto 50px 0 0;
   
  
 }
 .trial_container span:hover {
   color: #2196f3;
 }


 /*section10 */
 .main_pictures {
   text-align: center;
 }

 .pictures_box {
   display: flex;
   gap: 30px;
   width: 1200px;
   margin: 0 auto;
   transform: translateX(5%);

 }

 .pictures_text {
   margin:0 0 20px 0;
   font-size: 30px;
   font-weight: 400;
 }

 .pictures_box figure>p {
   margin: 10px 0;
 }
 .pictures_box img {
   height: 300px;
}

#side_box {
   margin: 50px auto;
}
.Mobile_pictures {
   display: none;
}
/*section10 respansive */
 @media(max-width:767px) {
   .main_ad {
      padding: 0;
      width: 100%;
   }
   .trial_video {
      width: auto;
      background-size: 100%;
      margin: 0;
      height: 250px;
   }
   .trial_container {
      bottom: 30%;
   }
   .trial_container h3{
      font-size: 25px;
   }
   .trial_container p{
      font-size: 10px;
   }
   .trial_container span {
      font-size: 10px;
   }

   .main_pictures  {
      width: 100%;
   }

   .pictures_box  {
    display: none;
   }

   .Mobile_pictures{
      display: block;
      margin: auto  auto ;
      text-align: center;
   }

   .Mobile_pictures img {
      width: 100%;
   }
   .Mpictures_box figure>p {
      margin: 10px 0;
      font-size: 20px;
   }

 }
 /*section11 */
 .infor_container {
   display: flex;
 }
 
 .infor_movies {
   margin: 100px 0 0 0;
   padding: 20px 0 0 0;
   background: #000000;
   text-align: center;
 }

 .infor_img {
   position: relative;
 }
 .infor_img img {
   height: 495px;
 }

 .infor_text {
   position: absolute;
   color: #2196f3;
   top: 35%;
   left: 10%;
   text-align: left;
 }

 .infor_text h2 {
   margin: 10px 0;
   font-size: 35px;
   font-weight: 500;
 }

 .infor_text p {
   margin: 30px 0;
   line-height: 20px;
 }

 .infor_text a:hover{
   color: #fff;
 }

 @media(max-width:767px) {
   .infor_movies {
      padding: 0;
      margin: 30px 0 0 0;
   }
   .infor_container {
      flex-direction: column;
      
   }
   .infor_img {
      margin: 30px 0 0 0;
   }
   .infor_img  img {
      height: auto;
   }

   .infor_text {
      top: 20%;
      left: 0;
   }

   .infor_text h2 {
      font-size: 20px;
   }
   .infor_text p {
      font-size: 12px;
   }
 }

 .footer {
   background: #000000;
   width: 100%;
   height: 400px;
   color: #adababf7;
    
 }
 .footer_container {
   position: relative;
   width: 1200px;
   margin:  0 auto;
   padding: 100px 0;
 }

 .footer_infor {
   margin: 15px 20px 0 40px;
   display: flex;
   gap: 30px;
   
 }
 .footer_infor p {
   font-size: 14px;
 }

 .footer_infor>ul {
   display: flex;
   gap: 30px;
   font-size: 12px;

 }
 .footer_infor>ul>li {
   position: relative;
 }
 

 .footer_infor>ul>li::before {
   content: '';
   position: absolute;
   height: 0.5rem;
   width: 1px;
   background: #949393f7;
   top: 50%;
   left: -0.3rem;
   transform: translateY(-50%);

 }
 
 .footer_icon {
   position: absolute;
   margin: 30px 0;
   font-size: 14px;
   right: -25%;
   bottom: -20%;

  
 }

 .footer_icon i {
   margin: 0 10px;
 }
 
 
 .footer_marks {
   display: flex;
   gap: 30px;
   justify-content: center;
 }

 .footer_marks img {
   width: 80px;
   height: 50px;
 }

 @media(max-width:767px) {
   .footer {
      height: 350px;
   }
   .footer_container {
      margin: auto;
      width: 100%;
    }

    .footer_infor {
      width: 100%;
      margin: auto;
      display: flex;
   
   
      
    }
    .footer_infor p {
      width: 100%;
      font-size: 0;
      
    }
   
    .footer_infor>ul {
      width: 100%;
      display: flex;
      font-size: 0;
      
   
    }

    .footer_infor>ul>li::before {
      display: none;
    }
    .footer_icon {
      position: static;
      text-align: center;
      font-size: 14px;
    }
   


 }