.container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.header {
    line-height: 5rem;
  
}

.header h1 {
    font-size: 0;
}

.gnb {
    margin:  0 0 0 auto;
}
.gnb a {
    display: block;
}

.gnb ul {
    display: flex;
    gap: 30px;
}
.gnb ul>li {
    position: relative; /*before 가 가상요소이기에 그의 부모인 li 에 기준점을 주면 li 사이사이에 생긴다.*/
}

.gnb ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1.5rem;
    width: 1px;
    height: 1.2rem;
    background: #ddd;
    transform: translateY(-50%);
}
.gnb a::first-letter {
    color: #f00;
}

#searchForm {
    margin: 0 0 0 2rem;
}

#searchForm input[name='text']{
    outline: none;
    border: none;
    border-bottom: 1px solid #333;

}
#searchForm input[name='searh']:focus::placeholder {
    color: #f00;
}
#searchForm input[name='searh']::placeholder {
    color: #f6f6;
}
#searchForm button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 2rem;
}

h5 {
    display: flex;
    align-items: center; /*선을 가운데로*/
}


h5::after {
    content: '';
    display: block;
    flex: 1; /*선을 가운데로*/
    height: 1px;
    background: #f00;
    margin: 0 0 0 20px;

}
h6 {
    display: flex;
    align-items: center;
}

h6::before {
    content: '';
    display: block;
    flex: 1; /*선을 가운데로*/
    height: 1px;
    background: #f00;
    margin: 0 20px 0 0;

}
h6::after {
    content: '';
    display: block;
    flex: 1; /*선을 가운데로*/
    height: 1px;
    background: #f00;
    margin: 0 0 0 20px;

}