
/*header*/
.header { width: 100%; line-height: 80px; } 
.headerContainer { display: flex; justify-content: space-between; } 
.headerContainer h1 { background: red; padding: 0px 10px; } 
.headerContainer .gnb { margin: 0 0 0 100px; } 
.headerContainer .gnb>ul>li { position: relative; } 
.headerContainer .gnb>ul>li a { display: block; padding: 0 30px; } 
.headerContainer .gnb>ul { display: flex; gap: 30px; font-size: 17px; } 
.headerContainer .gnb>ul>li:hover .Smenu { display: block; } 
.Smenu { display: none; position: absolute; top: 80x; left: 50%; z-index: 999; width: 200px; line-height: 5px; transform: translateX(-50%); text-align: center; border: 1px solid#000000; border-top: none; background: rgb(252, 252, 252); } 
.Smenu>ul { font-size: 14px; line-height: 30px; } 
.Smenu>ul>li { border-bottom: 1px solid #dddddd; } 
.menuIcon { margin: 0 30px 0 0; } 
.menuInput { position: relative; } 
.menuInput .xi-search { position: absolute; top: 40%; left: 88%; font-size: 23px; } 
.menuInput:hover .xi-search { display: none; } 
.menuIcon input { border: 0; outline: 0; border-bottom: 1px solid#2e2d2d; } 

@media(max-width:1350px){
 .header { width: 100%; height: auto; } 
 .headerContainer { display: flex; justify-content: space-between; } 
 .headerContainer h1 { background: red; padding: 0px 10px; } 
 .headerContainer h1 img { width: auto; } 
 .headerContainer .gnb { width: 100%; margin: 0 30px; } 
 .headerContainer .gnb>ul>li { position: relative; } 
 .headerContainer .gnb>ul>li a { display: block; padding: 0 30px; } 
 .headerContainer .gnb>ul { display: flex; gap: 30px; font-size: 17px; } 
 .headerContainer .gnb>ul>li:hover .Smenu { display: block; } 
 .Smenu { display: none; position: absolute; top: 100px; left: 50%; z-index: 999; width: 200px; line-height: 5px; transform: translateX(-50%); text-align: center; border: 1px solid#000000; border-top: none; background: rgb(252, 252, 252); } 
 .Smenu>ul { font-size: 14px; line-height: 30px; } 
 .Smenu>ul>li { border-bottom: 1px solid #dddddd; } 
 .menuIcon { display: none; } 
 .menuInput { position: relative; } 
 .menuInput .xi-search { position: absolute; top: 40%; left: 88%; font-size: 23px; } 
 .menuInput:hover .xi-search { display: none; } 
 .menuIcon input { border: 0; outline: 0; border-bottom: 1px solid#2e2d2d; } 
 }

@media(max-width:1170px){
 .headerContainer h1 { background: red; padding: 0px 10px; } 
 .headerContainer .gnb { display: none; } 
 }

 /*section01*/
 .mainSlider { height: 81.4vh; } 
 .sliderContent img { height: 81.4vh; } 
/*section02*/

.mainLine { background: red; height: 100px; position: relative; } 
.lineImg { width: 1200px; margin: 0 auto; } 
.mainLine img { width: 200px; height: 104px; } 
.lineText { position: absolute; top: 29%; left: 35%; color: #ffff; } 
.lineText h2 { margin:0 0 10px 0; font-size: 20px; } 
.lineIcon { position: absolute; top: 45%; left: 78%; color: #ffff; border: 1px solid #d89797; padding: 10px; } 
.lineIcon:hover { background: #000000; } 

/* section03 */
.recentNews { width: 1200px; margin: 0 auto; padding: 50px 0 150px 0; } 
.recentNews h2 { margin: 30px auto; text-align: center; font-size: 30px; font-weight: 500; } 
.recentNews figure .img { width: 276px; height: 160px; } 
.newsContainer { display: flex; gap: 30px; margin: auto 0 30px 0; } 
.newsContainer dl>dt { margin: 10px 0; } 
.newsContainer dl>dd { margin: 0 0 10px 0; font-size: 18px; font-weight: 500; line-height: 20px; } 
.newsContainer p { margin: 10px 0; font-size: 13px; line-height: 20px; } 
.bottomNewsContainer { display: flex; gap: 30px; } 
.bottomNewsContainer { display: flex; gap: 30px; margin: auto 0 30px 0; } 
.bottomNewsContainer dl>dt { margin: 10px 0; } 
.bottomNewsContainer dl>dd { margin: 0 0 10px 0; font-size: 18px; font-weight: 500; line-height: 20px; overflow: hidden; } 
.bottomNewsContainer p { margin: 10px 0; font-size: 13px; line-height: 20px; } 
.middleImg { position: absolute; bottom: -110%; left: 50%; transform: translateX(-50%); } 

/* section04 */ 
.divice { padding: 120px 0; text-align: center; } 
.diviceContainer { position: relative; } 

.diviceText h2 { margin:0 0 30px 0; font-size: 50px; font-weight: 600;}
.diviceText p { font-size: 25px; line-height: 35px; } 

.divceHand { position: relative; z-index: 999; } 

.divceHand .left { position: absolute; top: 180px; left: -20%; } 
.divceHand .right { position: absolute; top: 180px; right: -20%; } 

.diviceContent { position: absolute; bottom: -170%; } 
iframe { position: absolute; top: 142%; left: 35%; width: 555px; height: 315px; z-index: 999; } 

/* section05 */
.manual {
    position: relative;
    padding: 400px 0 0 0;
}
.manualContianer {
   
}
.manualText {
position: absolute;
top: 30%;
right: -60%;
width: 100%;
color: #ffff;

}
.manualText  h2 {
    padding: 30px;
    background: red;
    font-size: 25px;
}
.manualText p {
    padding: 15px;
    color: #000000;
}
