
/*header*/
.header { width: 100%; line-height: 80px; } 
.headerContainer { display: flex; justify-content: space-between; } 
.headerContainer h1 { background: red; padding: 0px 10px; } 
.headerContainer .gnb { margin: 0 0 0 100px; } 
.headerContainer .gnb>ul>li { position: relative; } 
.headerContainer .gnb>ul>li a { display: block; padding: 0 30px; } 
.headerContainer .gnb>ul { display: flex; gap: 30px; font-size: 17px; } 
.headerContainer .gnb>ul>li:hover .Smenu { display: block; } 
.Smenu { display: none; position: absolute; top: 80x; left: 50%; z-index: 999; width: 200px; line-height: 5px; transform: translateX(-50%); text-align: center; border: 1px solid#000000; border-top: none; background: rgb(252, 252, 252); } 
.Smenu>ul { font-size: 14px; line-height: 30px; } 
.Smenu>ul>li { border-bottom: 1px solid #dddddd; } 
.menuIcon { margin: 0 30px 0 0; } 
.menuInput { position: relative; } 
.menuInput .xi-search { position: absolute; top: 40%; left: 88%; font-size: 23px; } 
.menuInput:hover .xi-search { display: none; } 
.menuIcon input { border: 0; outline: 0; border-bottom: 1px solid#2e2d2d; } 

@media(max-width:1350px){
 .header { width: 100%; height: auto; } 
 .headerContainer { display: flex; justify-content: space-between; } 
 .headerContainer h1 { background: red; padding: 0px 10px; } 
 .headerContainer h1 img { width: auto; } 
 .headerContainer .gnb { width: 100%; margin: 0 30px; } 
 .headerContainer .gnb>ul>li { position: relative; } 
 .headerContainer .gnb>ul>li a { display: block; padding: 0 30px; } 
 .headerContainer .gnb>ul { display: flex; gap: 30px; font-size: 17px; } 
 .headerContainer .gnb>ul>li:hover .Smenu { display: block; } 
 .Smenu { display: none; position: absolute; top: 100px; left: 50%; z-index: 999; width: 200px; line-height: 5px; transform: translateX(-50%); text-align: center; border: 1px solid#000000; border-top: none; background: rgb(252, 252, 252); } 
 .Smenu>ul { font-size: 14px; line-height: 30px; } 
 .Smenu>ul>li { border-bottom: 1px solid #dddddd; } 
 .menuIcon { display: none; } 
 .menuInput { position: relative; } 
 .menuInput .xi-search { position: absolute; top: 40%; left: 88%; font-size: 23px; } 
 .menuInput:hover .xi-search { display: none; } 
 .menuIcon input { border: 0; outline: 0; border-bottom: 1px solid#2e2d2d; } 
 }

@media(max-width:1170px){
 .headerContainer h1 { background: red; padding: 0px 10px; } 
 .headerContainer .gnb { display: none; } 
 }

 /*section01*/
 .mainSlider { height: 81.4vh; } 
 .sliderContent img { height: 81.4vh; } 
/*section02*/

.mainLine { background: red; height: 100px; position: relative; } 
.lineImg { width: 1200px; margin: 0 auto; } 
.mainLine img { width: 200px; height: 104px; } 
.lineText { position: absolute; top: 29%; left: 35%; color: #ffff; } 
.lineText h2 { margin:0 0 10px 0; font-size: 20px; } 
.lineIcon { position: absolute; top: 45%; left: 78%; color: #ffff; border: 1px solid #d89797; padding: 10px; } 
.lineIcon:hover { background: #000000; } 

/* section03 */
.recentNews { width: 1200px; margin: 0 auto; padding: 50px 0 150px 0; } 
.recentNews h2 { margin: 30px auto; text-align: center; font-size: 30px; font-weight: 500; } 
.recentNews figure .img { width: 276px; height: 160px; } 
.newsContainer { display: flex; gap: 30px; margin: auto 0 30px 0; } 
.newsContainer dl>dt { margin: 10px 0; } 
.newsContainer dl>dd { margin: 0 0 10px 0; font-size: 18px; font-weight: 500; line-height: 20px; } 
.newsContainer p { margin: 10px 0; font-size: 13px; line-height: 20px; } 
.bottomNewsContainer { display: flex; gap: 30px; } 
.bottomNewsContainer { display: flex; gap: 30px; margin: auto 0 30px 0; } 
.bottomNewsContainer dl>dt { margin: 10px 0; } 
.bottomNewsContainer dl>dd { margin: 0 0 10px 0; font-size: 18px; font-weight: 500; line-height: 20px; overflow: hidden; } 
.bottomNewsContainer p { margin: 10px 0; font-size: 13px; line-height: 20px; } 
.middleImg { position: absolute; bottom: -110%; left: 50%; transform: translateX(-50%); } 

/* section04 */ 
.divice { padding: 120px 0; text-align: center; } 
.diviceContainer { position: relative; } 
.diviceText {
width: 1200px;
margin: 0 auto;
}
.diviceText h2 { margin:0 0 30px 0; font-size: 50px; font-weight: 600;}
.diviceText p { font-size: 25px; font-weight: 300; line-height: 35px; text-align: left; margin: auto 0 auto 250px;} 

.divceHand { position: relative; z-index: 999; } 


.divceHand .left { position: absolute; top: 180px; left: -20%; } 
.divceHand .right { position: absolute; top: 180px; right: -20%; } 

.diviceContent { position: absolute; bottom: -230%; z-index: -1000; right:280px; } 
.diviceContent .tv01 {
     width: 1350px; height: 850px ; 
 }

/* section05 */
.manual {
    position: relative;
    padding: 1000px 700px 0 700px;
}
.manualContianer img {
    
}
.manualText {
position: absolute;
top: 35%;
right: -60%;
width: 100%;
color: #ffff;
z-index: 999;

}
.manualText h2 {
    padding: 30px;
    background: red;
    font-size: 25px;
   
}

.manualText p {
    padding: 15px;
    color: #000000;
}

.manualpic .pic01 {
    position: absolute;
    left: -16%;
    top: 18%;
    
}
.contentText {
    text-align: center;
}

.contentText h3 {
    font-size: 50px;
    font-weight: 500;
    margin: 80px 0 30px 0;
} 
.contentText .t01{
    font-size: 25px;
    margin: 0 0 20px 0;
}

.contentText .t02 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
}

.manualpic .pic02 {
    position: absolute;
    right: -25%;
    top: 75%;
}

.contentTexter {
    text-align: center;
    padding: 500px 0 0 0;
}

.contentTexter h3 {
    font-size: 50px;
    font-weight: 500;
    margin: 80px 0 30px 0;
}

.contentTexter .t03 {
    font-size: 25px;
    margin: 0 0 20px 0;
}

.contentTexter .t04 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
}

/* section06 */
.bottomManual {
    position: relative;
}
.bottomImg {
    z-index: -999;
}
iframe { 
    position: absolute;
    bottom: 3.5%;
    left: 668px;
    width: 555px; height: 315px; 
    z-index: 1000; 
} 

/* section07 */

.mainMuti {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 100px;
}
  
.mutiImg img {
    width: 100%;
    height: 650px;
   
}

.mutiText {
    position: absolute;
    background: red;
    width: 100%;
    right: -50%;
    padding: 30px;
}
.mutiText h2 { 
    color: #ffff;
    font-size: 33px;
    line-height: 40px;
    font-weight: 400;  
}

.mutiBottom {
    margin: 80px 0 0 50px;
    
}

.mutiBottom dl {
    margin: 0 0 0 30px;
    padding: 0;
   
}

.mutiBottom dl>dt {
    margin: 100px 0 20px 0;
    font-size: 25px;
    font-weight: 500;
}

.mutiBottom dl>dt::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 5px;
    margin: 10px 15px 0 0;
    background: red;
}

.mutiBottom dl>dd{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

/*section08*/

.mainProduct {
    border-top: 1px solid #dddddd;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mainProduct h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
    font-weight: 500;
}

.mainProduct h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 5px;
    top: -3px;
    background: red;
}


.productBox {
    display: flex;
    gap: 30px; 
}

.productBox figure {
    flex: 1;
}
.productBox figure {
    width: 380px;
    height: 226px;
}

.productBox .boxText{
    margin: 20px 0;
}
.boxText h3 {
    font-size: 18px;
}
.boxText p {
    margin: 10px 0;
    line-height: 20px;
}

.addMore {
    margin: 150px 0 0 0;
    text-align: center;
    padding: 15px;
    border: 3px solid #dddddd;
    
}




/*section9*/
.maingametNews {
    padding: 130px 0 0 0;
}
.poketBg {
    width: 1200px;
    margin: 0 auto;
}
.poketBg {
    padding: 50px 0 0 0;
}

.poketBg h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.poketContainer {
    display: flex;
    gap: 30px;
   
}

.poketContainer .poketText {
    flex: 1;
}

.poketText {
    position: relative;
    margin: 55px 0 0 0;
    padding: 50px;
    background: #6abddd91;
    height: 480px;
}
.poketText::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-width: 0 0 50px 50px;
    border-style: solid;
    border-color: transparent transparent rgba(115,175,200,0.9);
}

.poketText h3 {

    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin: 15px 0;
    line-height: 23px;
}

.poketText  p{
    padding: 50px 0;
    font-size: 16px;
    line-height: 22px;
}
.poketContainer02 {
    position: relative;
    display: flex;
    gap: 30px;
}

.poketContainer02 figure {
    border: 1px solid  #ddd;
    
    
}

.poketContainer02 .itm img {
  height: 185px;
  width: 298px;

}
.poketContainer02 dl {
    position: absolute;
    bottom: -50px;
}
.poketContainer02 dl>dt {
    font-size: 18px;
    margin: 10px 0;
}

.poketprice {
    margin: 130px 0;
    display: flex;
    background-color: rgb(230, 227, 227, 0.5);
}

.poketprice .Pim {
    padding: 58px 0 30px 50px;
}

.poketprice .Pim img {
    border-radius: 10px;
    width: 314px;
    height: 249px;
    
}

.poketprice .priceImfor {
 
   padding: 30px;
}

.poketprice .priceImfor h3 {
    font-size: 40px;
    margin: 30px 0;
}
.poketprice .priceImfor .listBadge{
    margin:  auto 28px;
}
.poketprice .priceImfor .listBadge>li {
    display: flex;
}
.listBadge>li>h4 {
    display: inline-block;
    text-align: center;
    width: 15%;
    margin: 10px 30px 10px 0;
    background: #000000;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    border-radius: 50px;
}
.listBadge>li>p {
    margin: 15px 30px 10px 0;
    font-weight: 500;
}

.priceImfor .PriceTag {
   text-align: right;
   line-height: 25px;
   border-bottom: 1px solid rgb(8, 8, 8);
   margin: auto 0 0 30px;
    
}

.priceImfor .PriceTag .pt {
    font-size: 30px;
    font-weight: 700;   
}

.priceImfor .PriceTag .pt02 {
    margin: 0 0 10px 0;
}

/* main section10*/
.yellowLine {
    position: relative;
    background: #ffac13;
    height: 130px;
    text-align: center;
}

.yellowLine .lineContent {
    padding: 15px;
}

.yellowLine .lineContent h2 {
    margin: 15px 0;
    font-size: 35px;
    font-weight: 500;
}
.yellowLine .lineContent p {
    margin: 5px 0;
    font-size: 20px;
}

.yellowLine .lineContent .xi-caret-down-min {
    font-size: 24px;
}

.yellowLine .lineImg {
    position: absolute;
    top: -10%;
    left: 50%;
}

.yellowLine .lineImg02 {
    position: absolute;
    top: -70%;
    right: 70%;
}

/* main section11*/

.Controls {
    background-color: antiquewhite;
    padding: 100px 0;
}

.controlsContent {
    width: 1200px;
    margin: 0 auto;
}
.controlsTitle {
  
}

.controlsTitle h2 {
    font-size: 35px;
    margin: 10px 0;
    font-weight: 500;
}
