.header {
    height: 100px;
    border-bottom: 1px solid #333;

}
.header .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.header .container .logo {
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0;
}

.header .container nav>ul {
    display: flex;
    line-height: 100px;
    gap: 30px;
}

.header .container nav>ul>li {
    font-size: 16px;
}

.main01 {
    position: relative;
    height: 700px;
    border-bottom: 1px solid #333;

}
.main01 .main_Bg {
    background: url(../img/main.jpg) no-repeat;
    height: 700px;
    background-position: center;
    background-size: cover;

}

.main01 .mainText {
    position: absolute;
    top: 40%;
    left: 20%;
    
}

.main01 .mainText h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff; 
    margin: 10px 0;
}
.main01 .mainText p {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0;
}

.main02 {
    padding: 100px 0;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.main02 .left {
    width: 500px;
    margin-right: 150px;
}


.left .mainText02 {
    
    line-height: 50px;
    
}

.mainText02>span::before {
    content: "";
    display: inline-block;
    margin:0 2px 5px 0;
    width: 50px;
    height: 1px;
    background-color: #333;
}

.mainText02>span {
    margin: 0 0 0 5px;
}

.mainText02>h2 {
    font-size: 35px;
    font-weight: 700;

}

.mainText02>p {
    font-size: 15px;
    margin: 50px auto;
    line-height: 21px;
}

.main02 .right{
    margin: 30px 0 0 0;
    width: 600px;
    
}

.main03 {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    
}

.main03 p {
    margin: 30px auto;
    font-size: 25px;
    font-weight: 500;
}

.main03 .container {
    position: relative;
    
}

.main03 .container .box01 {
    display: flex;
    gap: 30px;
    
}

.main03 .container .box01 figure {
    flex: 1; /* flex 1 을 줬을때 높이값도 같아지게 하는방법이 뭘까요? */
    
}


.box01 figure>p {
    position: absolute;
    bottom: 41px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 5px;
}

