.header {
    height: 100px;
    border-bottom: 1px solid #333;

}
.header .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.header .container .logo {
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0;
}

.header .container nav>ul {
    display: flex;
    line-height: 100px;
    gap: 30px;
}

.header .container nav>ul>li {
    font-size: 16px;
}

.main01 {
    height: 700px;
    border-bottom: 1px solid #333;

}
.main01 .main_Bg {
    background: url(../img/main.jpg) no-repeat;
    height: 700px;
    background-position: center;
   
}