html {
    font-size: 10px;
}

.header {
    position: fixed;
    width: 100%;
    background: rgb(0, 0, 0, 0.9);
    height: 10rem;
    padding: 1rem;

}
.headerContainer {
    position: fixed;
    left: 35rem;
    display: flex;
    text-align: center;
    color: aliceblue;
   
}

.on{
    background: #fff;
    color: black;
}

.headerContainer h1 {
     width: 25rem;
     padding: 0.5rem;
}

.gnb {
    margin: 0 10rem;
}

.gnb ul {
    display: flex;
    margin: 3.5rem 0;
    font-size: 1.9rem;
    font-weight: 500;
    gap: 3rem;
  
}
.gnb ul>li {
    position: relative;
    margin: 0 1.5rem;
    
}

.gnb ul>li:hover .Smenu {
    display: block;
}

.Smenu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    z-index: 999;
    
}

.Smenu>ul {
    font-size: 1.7rem;
    font-weight: 400;
    flex-direction: column;
}

.headerIcon {
    font-size: 2.5rem;
    margin: 3.5rem 0;   
}

.headerIcon i {
    margin: 0 1rem;
}



