html {
    font-size: 10px;
}

.header {
  
    line-height: 10rem;
   
}

.header .headerContainer {
    display: flex;
    justify-content: space-between;
}

.headerContainer h1 {
    padding: 1.5rem;
    width: 13rem;
    height: 13rem;
}

.headerContainer .gnb ul {
    display: flex;
    font-size: 2rem;
    gap: 3rem;
    text-align: center;
    margin: auto auto auto 8rem;
    
}

.headerContainer .gnb ul>li {
    position: relative;
    padding: 2rem 3rem  ; 
}

.headerContainer .gnb ul>li:hover .Smenu {
    display: block;
    
}

.Smenu {
    position: absolute;
    top: 10rem; 
    left: 50%;
    transform: translate(-60%);
    display: none;
}

.Smenu ul  {
    flex-direction: column;
    background: #ddd;
    width: 150px;  
}

.Smenu ul>li {
    line-height: 1.5;
    font-size: 1.8rem;
   
}

.Smenu ul>li a{
  display: block;
}

.headerContainer form {
    margin: 0 2rem 0 0;
    padding: 1.8rem;
    font-size: 1.5rem;
}

.headerContainer input {
    position: relative;
    border: none;
    border-bottom: 1px solid #333;
}
.headerContainer .xi-search {
   position: absolute;
   right: 2%;
   top: 5%;
   font-size: 2.3rem;
}

.mainVideo {
    width: auto;
    height: 100vh;
}